:root {
    --primery-text-color:#757575;
    --primery-background-color:#ffffff;
    --primery-title-text-color:#212121;
}
body{
    color:var(--primery-text-color);
    background-color:var(--primery-background-color);
    font-family:Roboto;
}
/* основний колір текста #757575 */
/*колір заголовка h2,h3 #212121*/
/*колір hover #2196F3*/
/*колір button #2196F3*/
/*колір button active #188CE8, #ffffff*/
/*колір логотипа Web #2196F3, Studio #000*/
.logo  {
color: #2196F3;
}
.logo-black {
    color: #000;
}
.nav-link {
    color: #212121;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}
.nav-link:hover, :focus {
    color: #2196F3;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}
.mail {
color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}
.mail:hover {
    color: #2196F3;
}
.phone {
    color: #757575;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.28px;
}
.phone:hover {
    color: #2196F3;
}