:root {
    --primery-font-family:Roboto, sans-serif;
    --primery-text-color:#757575;
    --primery-background-color:#ffffff;
    --title-text-color:#212121;
    --accent-color:#2196F3;
}
body{
    color:var(--primery-text-color);
    background-color:var(--primery-background-color);
    font-family:var(--primery-font-family)
}
/* основний колір текста #757575 */
/*колір заголовка h2,h3 #212121*/
/*колір hover #2196F3*/
/*колір button #2196F3*/
/*колір button active #188CE8, #ffffff*/
/*колір логотипа Web #2196F3, Studio #000*/
.logo  {
color: #2196F3;
font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.78px;
}
.logo-black {
    color: #000;
}
.logo-white {
    color: #ffffff;
}
.nav-link {
    color: #212121;
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.28px;
}
.nav-link:hover,
.nav-link:focus {
    color:var(--accent-color);
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.28px;
}
.mail,
.phone,
.address {
color: #757575;
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.28px;
}
.mail:hover,
.mail:focus,
.phone:hover,
.phone:focus{
    color:var(--accent-color);
}
.hero {
    background: #2F303A;
    
}
.title {
color: #FFF;

    text-align: center;
    font-family: Roboto;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: 2.64px;
    text-transform: uppercase;
}
.btn {
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 1,87;
        /* 187.5% */
        letter-spacing: 0.96px;
        cursor: pointer;
}
.btn:hover, .btn:focus {
    color: #188CE8;
    background: #ffffff;
}
.caption {
    color: #212121;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
}
.text {
    color: #757575;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 171.429% */
        letter-spacing: 0.42px;
}
.subject {
    color: #212121;
        text-align: center;
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.08px;
}
.list {
    text-decoration: none;
}
.picture {
    text-decoration: none;
}
.desc {
    color: #212121;
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.48px;
}
.headline {
    color: #212121;
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.48px;
}
.footer {
background: #2F303A;
}
/*стиль portfolio*/
.title-hidden {
    color: #000;
}

.button-filter-all {
    color: #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
        /* 162.5% */
        letter-spacing: 0.48px;
    border-radius: 4px;
    background: #2196F3;
}  
.button-filter {
    background: #F5F4FA;
    color: #212121;
     text-align: center;
     font-family: Roboto;
     font-size: 16px;
     font-style: normal;
     font-weight: 500;
     line-height: 26px;
     /* 162.5% */
     letter-spacing: 0.48px;
    border-radius: 4px;
    background: #F5F4FA;
}
.heading {
    color: #212121;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 36px;
        /* 200% */
        letter-spacing: 1.08px;
}
.slogan{
    color: #757575;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        /* 187.5% */
        letter-spacing: 0.48px;
}